*~
*.pyc

twistd.*
http.log*
state.sqlite

tahoe/git/Atlas_ubuntu_natty/
tahoe/git/Dcoder_Win7-64_py2_6/
tahoe/git/Eugen_lenny-amd64/
tahoe/git/Francois_lenny-armv5tel/
tahoe/git/FreeStorm_CentOS5-i386/
tahoe/git/FreeStorm_CentOS6-amd64/
tahoe/git/FreeStorm_WinXP-x86_py2_6/
tahoe/git/Kyle_OpenBSD_amd64/
tahoe/git/MM_netbsd5_i386_warp/
tahoe/git/MM_netbsd7_i386_warp/
tahoe/git/Marcus_Cygwin_WinXP/
tahoe/git/Markus_slackware64_current/
tahoe/git/Markus_slackware64_v14_0/
tahoe/git/Randy_FreeBSD-amd64/
tahoe/git/Zancas_mint/
tahoe/git/clean/
tahoe/git/elb_debian6_ppc64/
tahoe/git/memcheck-32/
tahoe/git/memcheck-64/
tahoe/git/sickness_OpenBSD_5_0_x86_py2_7/
tahoe/git/speed-DSL/
tahoe/git/speed-colo/
tahoe/git/speed-fiber/
tahoe/git/tarballs/
tahoe/git/Markus_slackware64_stable/
tahoe/git/Ubuntu_trusty_14_04/
tahoe/git/Ubuntu_wily_15_10/
tahoe/git/sickness_OpenBSD_5_6_x86_py2_7/
tahoe/git/Daira_Win7-64_py2_7/
tahoe/git/Warner_OS-X_10_11_py2_7

tahoe/git/tahoe-memstats-32.out
tahoe/git/tahoe-memstats-64.out

pycryptopp-git/FreeStorm_CentOS5-i386/
pycryptopp-git/FreeStorm_CentOS6-amd64/
pycryptopp-git/FreeStorm_windows-mingw32-py26/
pycryptopp-git/Kyle_OpenBSD-amd64/
pycryptopp-git/MM_netbsd5_i386_warp/
pycryptopp-git/MM_netbsd5_i386_warp_syslib/
pycryptopp-git/MM_netbsd7_i386_warp/
pycryptopp-git/MM_netbsd7_i386_warp_syslib/
pycryptopp-git/Randy_FreeBSD-amd64/
pycryptopp-git/atlas1_natty/
pycryptopp-git/atlas1_natty_syslib/
pycryptopp-git/elb_debian6_ppc64/
pycryptopp-git/francois-ts109-armv5tel_syslib/
pycryptopp-git/marcusw_cygwin/
pycryptopp-git/oldlogs/
pycryptopp-git/OS-X_10_11/
pycryptopp-git/trusty_14_04/
pycryptopp-git/trusty_14_04_syslib/
pycryptopp-git/wily_15_10/
pycryptopp-git/wily_15_10_syslib/

