<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Tahoe-LAFS Buildbot Welcome Page</title>
</head>

<body>
<h1>Welcome to the Tahoe-LAFS Buildbot!</h1>

<p>See also <a href="https://tahoe-lafs.org/buildbot-zfec">the zfec buildbot</a> and <a href="https://tahoe-lafs.org/buildbot-pycryptopp">the pycryptopp buildbot</a>.</p>

<ul>
  <li><a href="waterfall?tag=supported&branch=master">Supported Builders</a>
  -- all the builders that we expect to keep green. If one of these reports a failure, we fix it right away. See <a href="https://tahoe-lafs.org/trac/tahoe/wiki/BuildbotPolicy">the BuildbotPolicy page</a> on the wiki.</li>

  <li><a href="waterfall?tag=unsupported&branch=master">Unsupported Builders</a> -- the builders that we aren't currently committing to keep green. Hopefully they will level-up to Supported Builders in the future, especially if you offer to help.
  </li>

  <li><a href="waterfall?show_events=true&branch=master">All Builders</a></li>

  <li>The <a href="builders?branch=master">Latest Build</a> for each builder is
  here.</li>

  <li><a href="one_line_per_build?branch=master">Recent Builds</a> are summarized here, one
  per line.</li>

  <li>Automated testers operated by other people that are testing Tahoe-LAFS:
    <ul>
      <li><a href="https://travis-ci.org/tahoe-lafs/tahoe-lafs">Travis-CI</a>:
      basic Linux unit-test coverage
      <a href="https://travis-ci.org/tahoe-lafs/tahoe-lafs"><img src="https://travis-ci.org/tahoe-lafs/tahoe-lafs.svg?branch=master"></img></a></li>
      <li><a href="https://ci.appveyor.com/project/tahoe-lafs/tahoe-lafs">Appveyor</a>:
      Windows coverage
      <a href="https://ci.appveyor.com/project/tahoe-lafs/tahoe-lafs"><img src="https://ci.appveyor.com/api/projects/status/rs9v75t1kfv3rj61/branch/master?svg=true"></img></a></li>
      <li><a href="http://hydra.nixos.org/job/nixpkgs/trunk/tahoelafs">Nix
      Hydra tester for Tahoe-LAFS</a> —
      the <a href="http://nixos.org">Nix project</a> maintains a patched
      version of Tahoe-LAFS as a NixPkg. This is the page on their automated
      test system which runs tests on Tahoe-LAFS on NixOS.</li>
    </ul>
  </li>

  <br />
  <li><a href="buildslaves">Buildslave</a> information</li>
  <li><a href="changes">ChangeSource</a> information.</li>
  <li><a href="https://tahoe-lafs.org/trac/tahoe-lafs">Back to the Tahoe-LAFS Trac</a></li>
  <li><a href="about">About this Buildbot</a></li>
</ul>


</body> </html>
